In [4]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFECV
from sklearn.model_selection import cross_val_score
from sklearn.base import TransformerMixin

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [5]:
train['word_count'] = train.text.apply(lambda x: len(x.split()))

In [6]:
train.groupby('author').word_count.describe()

         count       mean        std  min   25%   50%   75%    max
author
EAP     7900.0  25.442405  18.567706  2.0  12.0  21.0  33.0  267.0
HPL     5635.0  27.799645  14.123252  4.0  18.0  26.0  35.0  147.0
MWS     6044.0  27.417273  23.134440  2.0  15.0  23.0  34.0  861.0

In [7]:
train.author.value_counts()

EAP    7900
MWS    6044
HPL    5635
Name: author, dtype: int64

In [11]:
CV = CountVectorizer(stop_words = "english")

In [21]:
def do_CV(data):
    cv_data = CV.fit_transform(data)
    df  = pd.DataFrame(cv_data.todense(),
             columns=CV.get_feature_names())
    return df

In [22]:
count_vector=do_CV(train['text'])